${namespaces}namespace ${namespace}
{
    [TestClass]
    public class ${classname}
    {
        [TestMethod]
        public void TestMethod1()
        {
            Assert.IsTrue(true);${cursor}
        }
    }
}