${namespaces}namespace ${namespace}
{
    public class ${classname}
    {
        [SetUp]
        public void Setup()
        {
        }

        [Test]
        public void Test1()
        {
            Assert.Pass();${cursor}
        }
    }
}