${namespaces}namespace ${namespace}
{
    public sealed partial class ${classname} : UserControl
    {
        public ${classname}()
        {
            this.InitializeComponent();${cursor}
        }
    }
}